# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

##db for esm
set database_driver "mysql-async"
set mysql_connection_string "server=localhost;uid=gta;password=H@arambe12!;database=essentialmode"
set es_enableCustomData 1

##ace things for essentialmode
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
#start playernames

##esx stuff
start mysql-async
start async
start essentialmode
start esplugin_mysql
start es_admin2
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start esx_addonaccount
start esx_addons_gcphone
start gcphone
start esx_jobs
start esx_skin
start skinchanger
start pNotify
start esx_inventoryhud
#start esx_inventoryhud_trunk
start RealisticTraffic
start RealisticDrivingV
start RealisticAirControl
start RealisticBrakeLights
start esx_voice
start es_ui
start esx_status
start esx_basicneeds

start fivemqueue
##start esx_whitelist removed for improved whitelist

##custom stuff
start TutorialInfoScript
start pvp
start NeverWanted
start carHUD-temp
start frfuel
start lastpostodb
# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 1

# Uncomment this to enable RCON. Make sure to change the password.
#rcon_password H@arambe12

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "sandbox, dev"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
sets banner_connecting "https://i.imgur.com/K1n46Ow.jpg"

# Set your server's hostname
sv_hostname "Mike+Evan sandbox"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32)
sv_maxclients 1

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey 3204vskvb0k0qbqmc0oisfb9m2q62n3x
